<a href="https://colab.research.google.com/github/rawalk/datasets/blob/master/PandasCheatSheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas Cheetsheat - Python

In [0]:
#KEY IMPORTS 

import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [0]:
#IMPORTING DATA

pd.read_csv(filename) #from a CSV file
pd.read_table(filename) #from a delimited text file(like TSV)
pd.read_excel(filename) #from an excel file
pd.read_sql(query, connection_object) #from a SQL table/database
pd.read_json(json_string) #from a JSON formatted string, URL file.
pd.read_html(url) #parses an html url, string or file and extracts tables to a list
pd.read_clipboard() #takes the contents of your clipboard and passes it to read_table()
pd.DataFrame(dict) #from a dict, keys for columns names, values for data as lists

In [0]:
#EXPORTING DATA

df.to_csv(filename) #write to a CSV file
df.to_excel(filename) #write to an excel file
df.to_sql(table_name, connection_object) #write to a SQL table
df.to_json(filename) #write to a file in JSON format

In [0]:
#Create Test Objects (useful for testing code segments)

pd.DataFrame (np.random.rand(20,5)) #5 columns and 20 rows of random floats
pd.Series(my_list) #create a series from an iterable my_list
df.index = pd.date_range('1900/1/30', periods=df.shape[0]) #add a date index

In [0]:
#CREATING DATAFRAMES

#specify values for each column
df = pd.DataFrame (
          {'a' : [4, 5, 6],
           'b' : [7, 8, 9],
           'c' : [10, 11, 12]},
        index = [1, 2, 3])

#specify values for each row
df = pd.DataFrame (
          {'a' : [4, 5, 6],
           'b' : [7, 8, 9],
           'c' : [10, 11, 12]},
        index = [1, 2, 3],
        columns = ['a','b','c'])

#create datafram with a MultiIndex
df = pd.DataFrame(
          {'a' : [4 ,5, 6],
           'b' : [7, 8, 9],
           'c' : [10, 11, 12]},
index = pd.MultiIndex.from_tuples(
          [('d',1),('d',2),('e',2)],
             names=['n','v']))

In [0]:
#VIEWING / INSPECTING/ SUMMARIZING DATA

df.head(n) #first n rows of the dataframe
df.tail(n) #last n rows of the dataframe
df.shape #number of rows and columns in the dataframe
df.info() #index, datatype, and memory information
df.describe() #summary statistics for numerical values and counts
df.apply(pd.Series.value_counts) #unique values and counts for all columns
f.['w'].value_counts() #count number of rows with each unique value of variable
len(df) #returns number of rows in a dataframe
df['w'].nunique() #returns number of distinct values in a column
df.sum() #sum values of each object
df.count() #count non-NA/null values of each object
df.median() #median value of each object
df.quantile([0.25, 0.75]) #quantiles of each object
df.apply(function) #apply function to each object
df.min() #minimum value in each object
df.max() #maximum values in each object
df.mean() #mean value of each object
df.var() #variance of each object
df.std() #standard deviation of each object

In [0]:
#SELECTION

df[col]  #returns column with label col as Series
df[[col1, col2]] #returns columns as a new dataframe
s.iloc[0] #selection by position
s.loc['index_one'] #selection by index
df.iloc[0,:] #first row
df.iloc[0,0] #first element of first column

In [0]:
#DATA CLEANING

df.columns = ['a','b' 'c'] #rename columns
pd.isnull() #checks for null values, returns boolean array
pd.notnull() #opposite of pd.isnull()
df.dropna() #drop all rows that contain null values
df.dropna(axis=1) #drop all columns that contain null values
df.dropna(axis=1, thresh=n) #drop all rows that have less than n non values
df.fillna(x) #replace all null values with x
s.fillna(s.mean()) #replace all null values with the mean (mean can be replaced with almost any fucntion from the https://docs.python.org/3/library/statistics.html)
a.astype(float) #convert the datatype of the series to float
s.replace(1, 'one') #replace all values equal to 1 with 'one'
s.replace([1, 3], ['one', 'three']) #replace all the 1 with 'one'  and the 3 with 'three'
df.rename(columns=lambda x: x + 1) #mass renaming of columns 
df.reanme(columns = {'old_name' : 'new_name'}) #selective renaming
df.set_index('column_one') #change the index
df.rename(index=lambda x: x + 1) #mass renaming of index
df.sort_index() #sort the index of a dataframe
df.reset_index() #reset index of dataframe to row numberes, moving index to columns
df.drop(columns=['Length', 'Height']) #drop columns from dataframe

In [0]:
#FILTER, SORT, AND GROUPBY (RESHAPING DATA)

df[df[col] > 0.5] #rows where the column col is great than 0.5
df[(df[col] > 0.5) & (df[col] < 0.7)] #rows where 0.7 > col > 0.5
df.sort_values(col1) #sort values by col1 in ascending order
df.sort_values(col2, ascending=False) #sort values by col2 in descending order
df.sort_values([col1, col2], asecnding = [True, False]) #sort values by col1 in ascending order then col2 by descending order
df.grouby(col) #returns a groupby object for values from one column
df.groupby([col1,col2]) #returns groupby object for values from multiple columns
df.groupby(col1)[col2] #returns the mean of the values in col2, grouped by the values in col1 (mean can be replaced with almost any fucntion from the https://docs.python.org/3/library/statistics.html)
df.pivot_table(index=col1, values=[col2, col3], aggfunc=mean) #create a pivot table that groups by col1 and calculates the mean of col2 and col3
df.pivot(columns='var', values='val') #spread rows into columns
df.groupby(col1).agg(np,mean) #find the average across all columns for eveny unique col1 group
df.apply(np.mean) #apply the function np.mean() across each column
nf.apply(np.max,axis=1) #apply the function np.max() across each row
df.size() #size of each group
df.agg(func) #aggregate group using function

In [0]:
#JOIN/COMBINE

df1.append(df2) #add the rows in df1 to the end of df2 (columns should be identical)
pd.concat([df1, df2], axis=1) #add the columns in df1 to the end of df2 (rows should be identical)
pd.concat([df1,df2]) #append rows of dataframes
pd.melt(df) #gather columns into rows
df1.join(df2, on=col1, how='inner') #SQL-style join the columns in df1 with the columns on df2 where the rows for col have identical values. 'how can be on of 'left', 'right', 'outer', 'inner'
pd.merge(adf, bdf, how'left', on='x1') #join matching rows from bdf to adf
pd.merge(adf, bdf, how='right', on='x1') #join matching rows from adf to bdf
pd.merge(adf, bdf, how='inner', on='x1') #join data. Retain only rows in both sets
pd.merge(adf, bdf, how='outer', on='x1') # join data retain all values in all rows

In [0]:
#MAKE NEW COLUMNS 

df.assign(Area=lambda df: df.Length*df.Height) #compute and append one or more new columns
df['Volume'] = df.Length*df.Height*df.Depth #add a single column
pd.qcut(df.col, n, lables=False) #bin column into n buckets

In [0]:
#SUBSET OBSERVATIONS (ROWS)

df[df.Length > 7] #extract rows that meet logical criteria
df.drop_duplicates() #remove duplicate rows (only considers columns)
df.sample(frac=0.5) #randomly select fraction of rows
df.sample(n=10) #randomly select n rows
df.nlargest(n, 'value') #select and order top n entries
df.nsmallest(n, 'values') #select and order bottom n entries

In [0]:
#SUBSET VARIABLES (COLUMNS)

df[['width', 'length', 'species']] #select multiple columns with specific names
df['width'] or df.width #select single column with specific name
df.filter(regex='regex') #select columnds whose name matches regular expresion regex

In [0]:
#REGEX (REGULAR EXPRESSIONS) EXAMPLES

'\.' #mathes strings containing a period '.'
'Length$' #matches strings ending in the worh 'Length'
'^Sepal' #matches strings begining with the word "Sepal"
'^x[1-5]$' #matches strings begining with 'x and ending with 1, 2, 3, 4, 5
'^(?!Species$).*' #matches strings exept the string "Species"

In [0]:
#STATISTICS (can be applied to a series as well)

df.describe() #summary statistics for nummerical columns
df.mean() #returns the mean of all columns
df.corr() #returns the coorelation between columns in a dataframe
df.count() #returns the number of non-null values in each dataframe column 
df.max() #returns the hightest value in each column
df.min() #returns the lowest values in each column
df.median() #returns the median of each column
df.std() #returns the standard deviation of each column

In [0]:
#PLOTTING 

df.plot.hist() #histogram for each column
df.plot.scatter(x='w', y='h') #scatter plot using pairs of points (x,y)
sns.lineplot() #a line plot with possibility of several semantic groupings
sns.pairplot() #plot pairwise relationships in a dataset
sns.boxplot() #draws a box plot to show distributions with respect to categories 
sns.heatmap() #plot rectangular data as a color-encoded matrix
sns.lmplot() #plot data and regression model fits across a FacetGrid
sns.violinplot() #draw a combination of boxplot and kernel density estimate

Taken from 

\\
https://www.dataquest.io/blog/pandas-cheat-sheet/

\\
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

\\
And various random internet/lecture sources